target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin
# Fichiers de configuration
src/main/resources/config.properties
### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
echo "twilio.account.sid=TON_ACCOUNT_SID" > src/main/resources/config.properties
echo "twilio.auth.token=TON_AUTH_TOKEN" >> src/main/resources/config.properties
echo "twilio.phone.number=TON_NUMERO_TWILIO" >> src/main/resources/config.properties
echo "twilio.alert.number=+21652551135" >> src/main/resources/config.properties
### VS Code ###
.vscode/

### Mac OS ###
.DS_Store